block variables
  - var name = 'Hunky-dory';

doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title Webpack
    link(rel='stylesheet' type='text/css' href='./main.css')
  body
    h1 #{name} 
    script(src='./main.js')